#include "resource.h"
#include "windows.h"

#ifndef IDC_STATIC
    #define IDC_STATIC -1  // manually added to make IDC_STATIC work.
#endif

IDI_MYICON ICON "code.ico"  // Path to the file icon.

// This contains the info for the 'about' dialog box.
IDD_ABOUT DIALOG DISCARDABLE  0, 0, 239, 88  // These units are not pixels.
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About This Program"
FONT 8, "Consolas"  //"MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK, 174,28,50,35
    GROUPBOX        "Program Info",IDC_STATIC, 7,7,225,73
    CTEXT           "By EarthenSky\r\nLink: https://github.com/EarthenSky\r\n\r\nThis program automates manually compiling C code using MinGW (specifically using g++ and windres.)",IDC_STATIC, 16,18,144,56
END

// This contains the info for the 'create new project' dialog box.
IDD_CREATE_PROJECT DIALOG DISCARDABLE  0, 0, 80*2+8*3, 148  // These units are not pixels.
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Create New Project"
FONT 8, "Consolas"
BEGIN
    CTEXT           "Project Name*:",IDC_STATIC, 8,8+2,56,12, WS_GROUP
    EDITTEXT        DB_ID_EDIT_NAME, 8+64 -4,8,96+10,12, ES_LEFT | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL

    CTEXT           "Project Path*:",IDC_STATIC,8,8*2+12+2,56,12, WS_GROUP
    EDITTEXT        DB_ID_EDIT_PATH, 8+64 -4,8*2+12,96+10,12, ES_LEFT | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL

    CTEXT           "Project Description:",IDC_STATIC,6,8*3+12*2,84,12, WS_GROUP
    EDITTEXT        DB_ID_EDIT_COMMENT, 8,8*3+12*3 -4,168,36, ES_LEFT | WS_BORDER | WS_TABSTOP | ES_MULTILINE | ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_WANTRETURN

    CTEXT           "Append to Command:",IDC_STATIC,8,8*4+12+8+48+2,72,12, WS_GROUP
    EDITTEXT        DB_ID_EDIT_APPEND, 8*2+64+4,8*4+12+8+48,96 -4,12, ES_LEFT | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL

    PUSHBUTTON      "Create Project",IDOK, 8,148 -8 -24,80,24
    PUSHBUTTON      "Cancel",IDCANCEL, 8*2+80,148 -8 -24,80,24
END
